#searchBar {
  text-align: center;
}

#app {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#movieCard {
  border: 1px solid black;
  border-radius: 5px;
  width: 43%;
  text-align: center;
  margin: 2%;
  padding: 1%;
}

#pageNavBar {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
